body{
	background-color: #f5f5f5!important;
}
.brand_img{
	margin:0 auto;
	text-align: center;
}
.content {
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
    min-height: 250px;
}
.content>h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #97c57f;
    width: 70%;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    color: #308B00;
    font-weight: 800;
}
.content>p {
    line-height: 25px;
    letter-spacing: .5px;
}
.content>p>a {
	text-transform: smallcaps;
	text-decoration: none;
	color:#d87919;
}
.content>img {
    float: left;
    padding-right: 12px;
}
.left_panel>h2, .left_panel>h2>small{
	/*color:#d87919;*/
}
.navbar{
	height: 80px;
}
.navbar-header{
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.nav-content {
    position: absolute;
    width: 100%;
}
.nav-item {
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1px;
    /*margin: 0px 2%;*/
    cursor: pointer;
}
.nav-item:after {
	width: auto;
	display:block;
	content: '';
	border-bottom: solid 3px #019fb6;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}
.nav-item:hover:after { 
	transform: scaleX(1);
}
.quicklinks {
	background-color: #fff;
    list-style: none;
    letter-spacing: .5px;
    cursor: pointer;
    padding: 0;
}
.quicklinks>li{
	padding: 10px;
	border-bottom: 1px solid #999;
}
.quicklinks>li:hover {
    background: #f7e4d1;
}
.quicklinks>li>strong {
    text-transform: uppercase;
}
.quicklinks>li>a{
	color: #000;
	text-decoration: none;
}
.contact{
	list-style:none;
	padding: 0;
}
.contact>li>a{
	color:#000;
	text-decoration: none;
}